.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5px;
  .header__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header__right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
