.card__modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 16px 0 44px 0;
  border-radius: 40px;
  gap: 35px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 564px;
  outline: 0;
  cursor: pointer;
  box-shadow: 0px 2px 12px 0px rgba(73, 73, 73, 0.1);
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  .card__img {
    border-radius: 6px;
    overflow: hidden;
    width: 532px;
    height: 320px;
    border-radius: 24px;

    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  &__title {
    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__price {
    p {
      color: #5d5fef;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__favorit {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      font-size: 12px;
      font-weight: 400;
      color: #c1c1c1;
    }
  }
}

.closeButton {
  display: flex;
  justify-content: end;
  svg {
    cursor: pointer;
  }
}
